{% extends "layout.html" %}
{% block title %}Trace file alignment{% endblock %}
{% block nav_index %}active{% endblock %}
{% block head %}
    {{ super() }}


{% endblock %}
{% block container %}

<div id="header" xmlns="http://www.w3.org/1999/html">
    <div class="container">
      <div class="row mb-4" id="header-cards">
          <h1>Welcome to <b>Trace</b>Track</h1>
          <p>
              TraceTrack is a web application for batch alignment of trace files to a reference and visualization of mutations.
              The tool enables batch upload of trace files, creating alignments with user-defined settings, displaying their overview of details and viewing original chromatograms
          </p>
          <p>
              The input consists of trace files (in ab1 format) and a file with reference sequences (as .xlsx, .csv, GenBank or fasta format).
              Alignments of trace files to the reference are performed based on user settings and displayed in a table.
              After clicking on an alignment, the chromatogram from the ab1 file can be displayed. For more information, see the help tab.
          </p>
          <p>
              Link to our <a href="https://github.com/Merck/TraceTrack">GitHub page</a>
              Link to the <a href="">publication</a>
          </p>
          <p>
              <div class="btn-group" role="group">
                  <a href="/input" class="btn btn-primary">Get started!</a>
              </div>
          </p>
      </div>
    </div>
 </div>


{% endblock %}